div.tile-area.tile-area-dark
	h1.tile-area-title.fg-white Start
	div.user-id
		div.user-id-image
			span.icon-user.no-display1
			img.no-display(src='')
		div.user-id-name
			span.first-name Nico
			span.last-name Pimenov
			
