extends layout

block content
	div.container
		//h1 Program Name
		//p Hello World
		
		div.tile
			div.tile-content image
				img(src='images/author.jpg')
			div.brand
				span.label.fg-white Images
				span.badge.bg-orange 12
				
		